color	sidebar_new	brightyellow	black
color	normal		white		black
color	hdrdefault	white		black
color	quoted		brightblue	black
color	quoted1		brightgreen	black
color	quoted2		brightred	black
color	quoted3		brightyellow	black
color	quoted4		brightcyan	black
color	signature	cyan		black
color	indicator   white       blue
color	error		brightred	black
color	status		yellow black
color	tree		brightmagenta	black
color	tilde		brightyellow		black
color	attachment	brightyellow	black
color	markers		brightred	black
color	message		white		black
color	search		brightwhite	magenta
color	bold		brightyellow	black

# messages from me
color	index		green		black	"~P !~N !~T !~F"
color	index		green		white	"~P ~N !~T !~F"
color	index		green		cyan	"~P ~T !~F"
color	index		green		black	"~P ~F"

# unread
color	index		brightyellow	black	"~N !~T !~F !~p !~P"
color	index		brightgreen		black	"~F !~p !~P"
color   index       brightyellow    black ~N

color   index       white brightred ~D
color   index       white brightred ~F
color   index       white brightred ~T

# message view
color	header		brightred	black "[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9.-]+"
color	header		brightgreen	black "^[a-zA-Z-]+:"
color	body		brightred	black "[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9.-]+"
color	body		brightblue	black "((ftp|http|https)://|(file|news):|www\\.)[-a-z0-9_.:]*[a-z0-9](/[^][{} \t\n\r\"<>()]*[^][{} \t\n\r\"<>().,:!])?/?"
color   body        brightblue  black "mailto:[-a-z_0-9.]+@[-a-z_0-9.]+"
color   body        brightblue  black "[;:=][-][)/(|]"

# attribution lines
color	body		magenta		black ".* [^<]+ <[^>]+> wrote:"
color	body		magenta		black "(^|[^[:alnum:]])[Oo]n [a-z0-9 ,]+( at [a-z0-9:,. +-]+)? wrote:"
